.content {
    margin-top: 50px;
    margin-left: 200px;
    //padding: 200px;
}
.searchbar{
    margin-top: 20px;
    //margin-left: 200px;
    margin-right: 250px;
}
.content > mat-card {
    width: 200px;
}